{% extends 'blog/base.html' %}
{% load static %}
{% block main %}
	<!-- Page Header -->
	<header class="masthead" style="background-image: url('{% static "blog/img/home-bg.jpg"%}')">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-10 mx-auto">
					<div class="site-heading">
						<h1>سیلسیم</h1>
					</div>
				</div>
			</div>
		</div>
	</header>
	<!-- Main Content -->
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-10 mx-auto">
				{% block header %}{% endblock %}
				{% for article in object_list %}
					<div class="post-preview">
						<a href="{% url 'blog:detail' article.slug %}">
							<h2 class="post-title">
							  {{article.title}}
							</h2>
							<h3 class="post-subtitle">
							  {{article.description|truncatewords:30}}
							</h3>
						</a>
						<p class="post-meta">نوشته شده توسط 
							<a href="#">ملیکا</a>
							{{article.jpublish}}</p>
						<div>
							{% for cat in article.category.active %}
							  <a href="{% url 'blog:category' cat.slug %}">#{{cat.title}}</a>
							{% endfor %}		
						</div>
					</div>
					<hr>

				{% endfor %}			
				<!-- Pager -->
				{% if is_paginated %}
					<div class="clearfix pager-botton">
					  {% if page_obj.has_previous %}
						<a class="btn btn-primary float-right ml-3" href="{% block previous_page_url %}{% endblock %}">بست جدید &rarr;</a>
					  {% endif %}
					  {% if page_obj.has_next %}
						<a class="btn btn-primary float-right " href="{% block next_page_url %}{% endblock %}">بست های قدیمی &larr;</a>
					  {% endif %}
					</div>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}
	